<h3 class="clearfix">
    <div class="pull-left">
    </div>{{recipe.name}}
    <div class="pull-right">
        <div class="btn-group" appDropdownDirective>
            <button type="button" class="btn-primary btn dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
            <ul class="dropdown-menu">
                <li>
                    <a (click)="ingToShoppingList(recipe.ingredients)">To Shopping List</a>
                </li>
                <li>
                    <a (click)="editRecipe()">Edit recipe</a>
                </li>
                <li>
                    <a (click)="deleteRecipe()">Delete Recipe</a>
                </li>
            </ul>
        </div>
    </div>
</h3>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <img [src]="recipe.imagePath" style="width:100%">
    </div>
    <div class="col-xs-12 col-md-6">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
                {{ing.name}} <strong>amount</strong> ({{ing.amount}}{{ing.unit}})
            </li>
        </ul>
    </div>
</div>