<h3>{{recipe.name}}</h3>
<div class="row">
  <div class="col-xs-3">
    <img [src]="recipe.imagePath" style="max-height: 50px" class="img-responsive">
  </div>
  <div class="col-xs-9">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="padding:20px;border: solid 1px #dcdcdc">
    <div class="btn-group" appDropdownDirective>
      <button type="button" class="btn-primary btn dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#shopping" (click)="ingToShoppingList(recipe.ingredients)">To Shopping List</a>
        </li>
        <li>
          <a href="#">Edit recipe</a>
        </li>
        <li>
          <a href="#">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
        {{ing.name}} <strong>amount</strong> ({{ing.amount}}{{ing.unit}})
      </li>
    </ul>
  </div>
</div>